body {
    background-color: #1d2634;
}
<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff;
}

header {
  
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    margin: 20px;
}

section {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 7px 17px rgba(255, 255, 255, 0.1);
}
section:hover {
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.23);
}

button {

    background-color: #ffffff1e;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #5473a3;
}

.hidden {
    display: none;
}

.img {
    height: 30px;
    width: 30px;
    position: relative; 
}

.img img {
    width: 100px; 
    height: auto;  
    position: absolute; 
    top: -110px; 
    left: -15px;
>>>>>>> b95db0cabf88fca9d59e7404f8b8ec917cb0d6a9
}
